/* ==========================================================================
   Imports
   ========================================================================== */

@import url("../../../roots/assets/less/bootstrap/variables.less");
@import url("../../../roots/assets/less/bootstrap/mixins.less");
@import url("../../../roots/assets/less/bootstrap/responsive-utilities.less");
@import url("../../../roots/assets/less/bootstrap/utilities.less");


/* ==========================================================================
   Variables
   ========================================================================== */
@primary: #ffffff;
@secondary: #ffffff;


/* ==========================================================================
   Base
   ========================================================================== */

body { } 
 
 

/* =============================================================================
   Header
   ========================================================================== */

.banner { 

	#top-nav-user-menu { position: relative; }
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts 
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Woocommerce - General
   ========================================================================== */



/* ==========================================================================
   Woocommerce - Product
   ========================================================================== */




/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
